.canvas {
  display: flex;
  position: relative;
  cursor: pointer;
  border: 1px solid black;
  margin: 1rem auto 0;
  font-size: 2.5rem;
  min-height: 20rem;
  z-index: 1;
}

.spanAfterMove {
  position: absolute;
}

